In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/train.csv')
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

split before any processing

In [3]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size=0.2)
df_train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
182,0203_01,Europa,True,C/8/S,TRAPPIST-1e,51.0,False,0.0,0.0,0.0,0.0,0.0,Ancham Heateele,True
6042,6394_03,Earth,True,G/1037/S,TRAPPIST-1e,36.0,False,0.0,0.0,0.0,0.0,0.0,Ale Alberts,True
6417,6779_01,Europa,False,B/258/S,TRAPPIST-1e,37.0,False,0.0,7920.0,270.0,1.0,322.0,Terope Busive,True
7228,7723_01,Europa,True,B/254/P,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Sheleb Conate,True
5229,5580_01,Earth,True,G/902/S,PSO J318.5-22,36.0,False,0.0,0.0,0.0,0.0,0.0,Anae Vaught,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,0482_02,Earth,False,F/88/S,TRAPPIST-1e,28.0,False,0.0,14.0,0.0,0.0,615.0,Isaacy Mallerez,False
1026,1091_01,Mars,True,F/223/P,TRAPPIST-1e,35.0,False,0.0,0.0,0.0,0.0,0.0,Dills Miste,True
5080,5425_01,Earth,False,F/1037/S,PSO J318.5-22,24.0,False,1.0,0.0,11.0,0.0,734.0,NaN,False
6756,7128_02,Europa,False,B/238/P,55 Cancri e,44.0,False,0.0,4322.0,3.0,153.0,52.0,Raston Dightent,True
5061,5413_01,Earth,False,G/871/P,TRAPPIST-1e,16.0,False,3.0,595.0,0.0,9.0,321.0,Lorey Boyerson,True

choosing which mean/mode/median imputer for continous values:

In [4]:
num_cols = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

df_train.loc[:, num_cols]

       Age  RoomService  FoodCourt  ShoppingMall    Spa  VRDeck
182   51.0          0.0        0.0           0.0    0.0     0.0
6042  36.0          0.0        0.0           0.0    0.0     0.0
6417  37.0          0.0     7920.0         270.0    1.0   322.0
7228  27.0          0.0        0.0           0.0    0.0     0.0
5229  36.0          0.0        0.0           0.0    0.0     0.0
...    ...          ...        ...           ...    ...     ...
451   28.0          0.0       14.0           0.0    0.0   615.0
1026  35.0          0.0        0.0           0.0    0.0     0.0
5080  24.0          1.0        0.0          11.0    0.0   734.0
6756  44.0          0.0     4322.0           3.0  153.0    52.0
5061  16.0          3.0      595.0           0.0    9.0   321.0

[6954 rows x 6 columns]

In [5]:
from sklearn.impute import SimpleImputer

In [6]:
name_imputer = SimpleImputer(strategy='constant', fill_value='Unknown Unknown')
num_imputer = SimpleImputer(strategy='median')
cat_imputer = SimpleImputer(strategy='constant', fill_value='Unknown')

In [7]:
num_cols = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
cat_cols = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']

df_train.loc[:, 'Name'] = name_imputer.fit_transform(df_train.loc[:, 'Name'].to_frame())
df_train.loc[:, num_cols] = num_imputer.fit_transform(df_train.loc[:, num_cols])
df_train.loc[:, cat_cols] = cat_imputer.fit_transform(df_train.loc[:, cat_cols])

In [8]:
def update_df(dataframe): 
    df = dataframe.copy()

    df.loc[:, 'FirstName'] = df.loc[:, 'Name'].apply(lambda x: x.split()[0])
    df.loc[:, 'LastName'] = df.loc[:, 'Name'].apply(lambda x: x.split()[1])

    df.loc[:, 'PassengerGGGG'] = df.loc[:, 'PassengerId'].apply(lambda x: int(x.split('_')[0]))
    df.loc[:, 'PassengerPP'] = df.loc[:, 'PassengerId'].apply(lambda x: int(x.split('_')[1]))

    df['cabin_deck'] = df['Cabin'].apply(lambda x: x.split('/')[0] if x != 'Unknown' else 'U')
    df['cabin_num'] = df['Cabin'].apply(lambda x: int(x.split('/')[1]) if x != 'Unknown' else -1)
    df['cabin_side'] = df['Cabin'].apply(lambda x: x.split('/')[2] if x != 'Unknown' else 'U')

    df.loc[:, 'Spent'] = df.loc[:, ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].sum(axis=1)
    df.drop(['Cabin', 'Name', 'PassengerId'], inplace=True, axis=1)

    return df

In [9]:
df_train_updated = update_df(df_train)
df_train_updated

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,FirstName,LastName,PassengerGGGG,PassengerPP,cabin_deck,cabin_num,cabin_side,Spent
182,Europa,True,TRAPPIST-1e,51.0,False,0.0,0.0,0.0,0.0,0.0,True,Ancham,Heateele,203,1,C,8,S,0.0
6042,Earth,True,TRAPPIST-1e,36.0,False,0.0,0.0,0.0,0.0,0.0,True,Ale,Alberts,6394,3,G,1037,S,0.0
6417,Europa,False,TRAPPIST-1e,37.0,False,0.0,7920.0,270.0,1.0,322.0,True,Terope,Busive,6779,1,B,258,S,8513.0
7228,Europa,True,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,True,Sheleb,Conate,7723,1,B,254,P,0.0
5229,Earth,True,PSO J318.5-22,36.0,False,0.0,0.0,0.0,0.0,0.0,True,Anae,Vaught,5580,1,G,902,S,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,Earth,False,TRAPPIST-1e,28.0,False,0.0,14.0,0.0,0.0,615.0,False,Isaacy,Mallerez,482,2,F,88,S,629.0
1026,Mars,True,TRAPPIST-1e,35.0,False,0.0,0.0,0.0,0.0,0.0,True,Dills,Miste,1091,1,F,223,P,0.0
5080,Earth,False,PSO J318.5-22,24.0,False,1.0,0.0,11.0,0.0,734.0,False,Unknown,Unknown,5425,1,F,1037,S,746.0
6756,Europa,False,55 Cancri e,44.0,False,0.0,4322.0,3.0,153.0,52.0,True,Raston,Dightent,7128,2,B,238,P,4530.0
5061,Earth,False,TRAPPIST-1e,16.0,False,3.0,595.0,0.0,9.0,321.0,True,Lorey,Boyerson,5413,1,G,871,P,928.0

In [10]:
lastnames_have_impact_mask = df_train_updated.groupby('LastName')['Transported'].mean() >= 0.5
lastnames_have_impact_mask = lastnames_have_impact_mask[lastnames_have_impact_mask].index.tolist()

firstnames_have_impact_mask = df_train_updated.groupby('FirstName')['Transported'].mean() >= 0.5
firstnames_have_impact_mask = firstnames_have_impact_mask[firstnames_have_impact_mask].index.tolist()

passenger_gggg_have_impact_mask = df_train_updated.groupby('PassengerGGGG')['Transported'].mean() >= 0.5
passenger_gggg_have_impact_mask = passenger_gggg_have_impact_mask[passenger_gggg_have_impact_mask].index.tolist()


df_train_updated.loc[:, 'FirstNameHaveImpact'] = df_train_updated.loc[:, 'FirstName'].apply(lambda x: 1 if x in firstnames_have_impact_mask else 0)
df_train_updated.loc[:, 'LastNameHaveImpact'] = df_train_updated.loc[:, 'LastName'].apply(lambda x: 1 if x in lastnames_have_impact_mask else 0)
df_train_updated.loc[:, 'PassengerGGGGHaveImpact'] = df_train_updated.loc[:, 'PassengerGGGG'].apply(lambda x: 1 if x in passenger_gggg_have_impact_mask else 0)

df_train_updated.drop(['FirstName', 'LastName', 'PassengerGGGG'], inplace=True, axis=1)

In [11]:
df_train_updated

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,PassengerPP,cabin_deck,cabin_num,cabin_side,Spent,FirstNameHaveImpact,LastNameHaveImpact,PassengerGGGGHaveImpact
182,Europa,True,TRAPPIST-1e,51.0,False,0.0,0.0,0.0,0.0,0.0,True,1,C,8,S,0.0,1,1,1
6042,Earth,True,TRAPPIST-1e,36.0,False,0.0,0.0,0.0,0.0,0.0,True,3,G,1037,S,0.0,0,0,1
6417,Europa,False,TRAPPIST-1e,37.0,False,0.0,7920.0,270.0,1.0,322.0,True,1,B,258,S,8513.0,1,1,1
7228,Europa,True,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,True,1,B,254,P,0.0,1,1,1
5229,Earth,True,PSO J318.5-22,36.0,False,0.0,0.0,0.0,0.0,0.0,True,1,G,902,S,0.0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,Earth,False,TRAPPIST-1e,28.0,False,0.0,14.0,0.0,0.0,615.0,False,2,F,88,S,629.0,1,0,0
1026,Mars,True,TRAPPIST-1e,35.0,False,0.0,0.0,0.0,0.0,0.0,True,1,F,223,P,0.0,1,1,1
5080,Earth,False,PSO J318.5-22,24.0,False,1.0,0.0,11.0,0.0,734.0,False,1,F,1037,S,746.0,1,1,0
6756,Europa,False,55 Cancri e,44.0,False,0.0,4322.0,3.0,153.0,52.0,True,2,B,238,P,4530.0,1,1,0
5061,Earth,False,TRAPPIST-1e,16.0,False,3.0,595.0,0.0,9.0,321.0,True,1,G,871,P,928.0,1,1,1

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
cat_data = df_train_updated.select_dtypes('object')
cat_data.loc[:, ['CryoSleep', 'VIP']] = cat_data.loc[:, ['CryoSleep', 'VIP']].astype('str')
cat_data

     HomePlanet CryoSleep    Destination    VIP cabin_deck cabin_side
182      Europa      True    TRAPPIST-1e  False          C          S
6042      Earth      True    TRAPPIST-1e  False          G          S
6417     Europa     False    TRAPPIST-1e  False          B          S
7228     Europa      True    TRAPPIST-1e  False          B          P
5229      Earth      True  PSO J318.5-22  False          G          S
...         ...       ...            ...    ...        ...        ...
451       Earth     False    TRAPPIST-1e  False          F          S
1026       Mars      True    TRAPPIST-1e  False          F          P
5080      Earth     False  PSO J318.5-22  False          F          S
6756     Europa     False    55 Cancri e  False          B          P
5061      Earth     False    TRAPPIST-1e  False          G          P

[6954 rows x 6 columns]

In [14]:
one_hot_encoder = OneHotEncoder(drop='first', dtype=int)

cat_data_encoded = one_hot_encoder.fit_transform(cat_data)
encoded_feature_names = one_hot_encoder.get_feature_names_out(cat_data.columns)

In [15]:
df_train_cat_encoded = pd.DataFrame(cat_data_encoded.toarray(), columns = encoded_feature_names, index=cat_data.index)
df_train_cat_encoded

,HomePlanet_Europa,HomePlanet_Mars,HomePlanet_Unknown,CryoSleep_True,CryoSleep_Unknown,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Destination_Unknown,VIP_True,VIP_Unknown,cabin_deck_B,cabin_deck_C,cabin_deck_D,cabin_deck_E,cabin_deck_F,cabin_deck_G,cabin_deck_T,cabin_deck_U,cabin_side_S,cabin_side_U
182,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0
6042,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0
6417,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0
7228,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
5229,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
1026,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
5080,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
6756,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
5061,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0

In [16]:
df_train_non_cat = df_train_updated.drop(cat_data.columns, axis=1)

In [17]:
df_train_encoded = pd.concat([df_train_non_cat, df_train_cat_encoded], axis=1)
df_train_encoded

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,PassengerPP,cabin_num,Spent,...,cabin_deck_B,cabin_deck_C,cabin_deck_D,cabin_deck_E,cabin_deck_F,cabin_deck_G,cabin_deck_T,cabin_deck_U,cabin_side_S,cabin_side_U
182,51.0,0.0,0.0,0.0,0.0,0.0,True,1,8,0.0,...,0,1,0,0,0,0,0,0,1,0
6042,36.0,0.0,0.0,0.0,0.0,0.0,True,3,1037,0.0,...,0,0,0,0,0,1,0,0,1,0
6417,37.0,0.0,7920.0,270.0,1.0,322.0,True,1,258,8513.0,...,1,0,0,0,0,0,0,0,1,0
7228,27.0,0.0,0.0,0.0,0.0,0.0,True,1,254,0.0,...,1,0,0,0,0,0,0,0,0,0
5229,36.0,0.0,0.0,0.0,0.0,0.0,True,1,902,0.0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,28.0,0.0,14.0,0.0,0.0,615.0,False,2,88,629.0,...,0,0,0,0,1,0,0,0,1,0
1026,35.0,0.0,0.0,0.0,0.0,0.0,True,1,223,0.0,...,0,0,0,0,1,0,0,0,0,0
5080,24.0,1.0,0.0,11.0,0.0,734.0,False,1,1037,746.0,...,0,0,0,0,1,0,0,0,1,0
6756,44.0,0.0,4322.0,3.0,153.0,52.0,True,2,238,4530.0,...,1,0,0,0,0,0,0,0,0,0
5061,16.0,3.0,595.0,0.0,9.0,321.0,True,1,871,928.0,...,0,0,0,0,0,1,0,0,0,0

now do these for the test set

In [18]:
num_cols = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
cat_cols = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']

df_test.loc[:, 'Name'] = name_imputer.transform(df_test.loc[:, 'Name'].to_frame())
df_test.loc[:, num_cols] = num_imputer.transform(df_test.loc[:, num_cols])
df_test.loc[:, cat_cols] = cat_imputer.transform(df_test.loc[:, cat_cols])

In [19]:
df_test_updated = update_df(df_test)
df_test_updated

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,FirstName,LastName,PassengerGGGG,PassengerPP,cabin_deck,cabin_num,cabin_side,Spent
5610,Earth,False,TRAPPIST-1e,2.0,False,0.0,0.0,0.0,0.0,0.0,True,Vine,Reenez,5969,3,G,972,S,0.0
6738,Mars,True,TRAPPIST-1e,18.0,False,0.0,0.0,0.0,0.0,0.0,True,Oalls,Derry,7106,1,F,1357,S,0.0
7916,Earth,False,TRAPPIST-1e,23.0,False,29.0,0.0,0.0,332.0,270.0,False,Erie,Lopelases,8457,1,F,1627,S,631.0
2481,Earth,True,TRAPPIST-1e,21.0,False,0.0,0.0,0.0,0.0,0.0,True,Bara,Vandan,2661,2,G,423,S,0.0
4442,Earth,False,PSO J318.5-22,24.0,False,154.0,7.0,241.0,213.0,453.0,False,Gabrin,Savaraldez,4723,2,F,888,S,1068.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7094,Earth,False,TRAPPIST-1e,18.0,False,388.0,182.0,0.0,66.0,140.0,False,Unknown,Unknown,7561,1,F,1445,S,776.0
2500,Earth,False,TRAPPIST-1e,26.0,False,886.0,0.0,0.0,0.0,21.0,False,Lilly,Webstephrey,2685,1,G,435,P,907.0
3752,Mars,False,TRAPPIST-1e,14.0,False,460.0,0.0,0.0,315.0,172.0,False,Coos,Emead,4013,1,E,243,P,947.0
8130,Earth,False,TRAPPIST-1e,18.0,False,1.0,1.0,0.0,226.0,488.0,False,Carly,Meleon,8684,1,F,1788,P,716.0
2816,Europa,False,TRAPPIST-1e,40.0,False,0.0,0.0,0.0,0.0,0.0,False,Dscheat,Noxnuther,3034,1,U,-1,U,0.0

In [20]:
df_test_updated.loc[:, 'FirstNameHaveImpact'] = df_test_updated.loc[:, 'FirstName'].apply(lambda x: 1 if x in firstnames_have_impact_mask else 0)
df_test_updated.loc[:, 'LastNameHaveImpact'] = df_test_updated.loc[:, 'LastName'].apply(lambda x: 1 if x in lastnames_have_impact_mask else 0)
df_test_updated.loc[:, 'PassengerGGGGHaveImpact'] = df_test_updated.loc[:, 'PassengerGGGG'].apply(lambda x: 1 if x in passenger_gggg_have_impact_mask else 0)

df_test_updated.drop(['FirstName', 'LastName', 'PassengerGGGG'], inplace=True, axis=1)

In [21]:
df_test_updated

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,PassengerPP,cabin_deck,cabin_num,cabin_side,Spent,FirstNameHaveImpact,LastNameHaveImpact,PassengerGGGGHaveImpact
5610,Earth,False,TRAPPIST-1e,2.0,False,0.0,0.0,0.0,0.0,0.0,True,3,G,972,S,0.0,0,0,0
6738,Mars,True,TRAPPIST-1e,18.0,False,0.0,0.0,0.0,0.0,0.0,True,1,F,1357,S,0.0,1,1,0
7916,Earth,False,TRAPPIST-1e,23.0,False,29.0,0.0,0.0,332.0,270.0,False,1,F,1627,S,631.0,1,1,0
2481,Earth,True,TRAPPIST-1e,21.0,False,0.0,0.0,0.0,0.0,0.0,True,2,G,423,S,0.0,0,0,0
4442,Earth,False,PSO J318.5-22,24.0,False,154.0,7.0,241.0,213.0,453.0,False,2,F,888,S,1068.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7094,Earth,False,TRAPPIST-1e,18.0,False,388.0,182.0,0.0,66.0,140.0,False,1,F,1445,S,776.0,1,1,0
2500,Earth,False,TRAPPIST-1e,26.0,False,886.0,0.0,0.0,0.0,21.0,False,1,G,435,P,907.0,0,1,0
3752,Mars,False,TRAPPIST-1e,14.0,False,460.0,0.0,0.0,315.0,172.0,False,1,E,243,P,947.0,0,0,0
8130,Earth,False,TRAPPIST-1e,18.0,False,1.0,1.0,0.0,226.0,488.0,False,1,F,1788,P,716.0,1,0,0
2816,Europa,False,TRAPPIST-1e,40.0,False,0.0,0.0,0.0,0.0,0.0,False,1,U,-1,U,0.0,0,1,0

In [22]:
test_cat_data = df_test_updated.select_dtypes('object')
test_cat_data.loc[:, ['CryoSleep', 'VIP']] = test_cat_data.loc[:, ['CryoSleep', 'VIP']].astype('str')
test_cat_data

     HomePlanet CryoSleep    Destination    VIP cabin_deck cabin_side
5610      Earth     False    TRAPPIST-1e  False          G          S
6738       Mars      True    TRAPPIST-1e  False          F          S
7916      Earth     False    TRAPPIST-1e  False          F          S
2481      Earth      True    TRAPPIST-1e  False          G          S
4442      Earth     False  PSO J318.5-22  False          F          S
...         ...       ...            ...    ...        ...        ...
7094      Earth     False    TRAPPIST-1e  False          F          S
2500      Earth     False    TRAPPIST-1e  False          G          P
3752       Mars     False    TRAPPIST-1e  False          E          P
8130      Earth     False    TRAPPIST-1e  False          F          P
2816     Europa     False    TRAPPIST-1e  False          U          U

[1739 rows x 6 columns]

In [23]:
test_cat_data_encoded = one_hot_encoder.transform(test_cat_data)
test_cat_encoded_feature_names = one_hot_encoder.get_feature_names_out(test_cat_data.columns)

df_test_cat_encoded = pd.DataFrame(test_cat_data_encoded.toarray(), columns = test_cat_encoded_feature_names, index=test_cat_data.index)
df_test_cat_encoded

,HomePlanet_Europa,HomePlanet_Mars,HomePlanet_Unknown,CryoSleep_True,CryoSleep_Unknown,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Destination_Unknown,VIP_True,VIP_Unknown,cabin_deck_B,cabin_deck_C,cabin_deck_D,cabin_deck_E,cabin_deck_F,cabin_deck_G,cabin_deck_T,cabin_deck_U,cabin_side_S,cabin_side_U
5610,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0
6738,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
7916,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
2481,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0
4442,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7094,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
2500,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3752,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
8130,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
2816,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1

In [24]:
df_test_non_cat = df_test_updated.drop(test_cat_data.columns, axis=1)
df_test_encoded = pd.concat([df_test_non_cat, df_test_cat_encoded], axis=1)
df_test_encoded

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,PassengerPP,cabin_num,Spent,...,cabin_deck_B,cabin_deck_C,cabin_deck_D,cabin_deck_E,cabin_deck_F,cabin_deck_G,cabin_deck_T,cabin_deck_U,cabin_side_S,cabin_side_U
5610,2.0,0.0,0.0,0.0,0.0,0.0,True,3,972,0.0,...,0,0,0,0,0,1,0,0,1,0
6738,18.0,0.0,0.0,0.0,0.0,0.0,True,1,1357,0.0,...,0,0,0,0,1,0,0,0,1,0
7916,23.0,29.0,0.0,0.0,332.0,270.0,False,1,1627,631.0,...,0,0,0,0,1,0,0,0,1,0
2481,21.0,0.0,0.0,0.0,0.0,0.0,True,2,423,0.0,...,0,0,0,0,0,1,0,0,1,0
4442,24.0,154.0,7.0,241.0,213.0,453.0,False,2,888,1068.0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7094,18.0,388.0,182.0,0.0,66.0,140.0,False,1,1445,776.0,...,0,0,0,0,1,0,0,0,1,0
2500,26.0,886.0,0.0,0.0,0.0,21.0,False,1,435,907.0,...,0,0,0,0,0,1,0,0,0,0
3752,14.0,460.0,0.0,0.0,315.0,172.0,False,1,243,947.0,...,0,0,0,1,0,0,0,0,0,0
8130,18.0,1.0,1.0,0.0,226.0,488.0,False,1,1788,716.0,...,0,0,0,0,1,0,0,0,0,0
2816,40.0,0.0,0.0,0.0,0.0,0.0,False,1,-1,0.0,...,0,0,0,0,0,0,0,1,0,1

In [25]:
X_train = df_train_encoded.drop('Transported', axis=1)
y_train = df_train_encoded.loc[:, 'Transported']

X_test = df_test_encoded.drop('Transported', axis=1)
y_test = df_test_encoded.loc[:, 'Transported']

In [26]:
from lazypredict.Supervised import LazyClassifier

clf = LazyClassifier(verbose=0, ignore_warnings=True, custom_metric=None)
models, predictions = clf.fit(X_train, X_test, y_train, y_test)

models

  0%|          | 0/31 [00:00<?, ?it/s]

[LightGBM] [Info] Number of positive: 3495, number of negative: 3459
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000378 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1938
[LightGBM] [Info] Number of data points in the train set: 6954, number of used features: 31
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.502588 -> initscore=0.010354
[LightGBM] [Info] Start training from score 0.010354

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,Time Taken
Model,,,,,
GaussianNB,0.74,0.74,0.74,0.74,0.01
KNeighborsClassifier,0.70,0.70,0.70,0.69,0.04
LabelPropagation,0.69,0.70,0.70,0.68,1.40
LabelSpreading,0.69,0.70,0.70,0.68,1.87
NearestCentroid,0.65,0.65,0.65,0.64,0.01
RandomForestClassifier,0.65,0.65,0.65,0.63,0.45
DecisionTreeClassifier,0.65,0.65,0.65,0.63,0.04
BernoulliNB,0.64,0.65,0.65,0.63,0.01
Perceptron,0.64,0.64,0.64,0.62,0.01
SGDClassifier,0.64,0.64,0.64,0.62,0.03
XGBClassifier,0.64,0.64,0.64,0.61,0.18
ExtraTreeClassifier,0.64,0.64,0.64,0.62,0.01
AdaBoostClassifier,0.64,0.64,0.64,0.61,0.25
LogisticRegression,0.64,0.64,0.64,0.61,0.01
ExtraTreesClassifier,0.63,0.64,0.64,0.61,0.32
SVC,0.63,0.63,0.63,0.61,0.35
LGBMClassifier,0.63,0.63,0.63,0.60,0.08
BaggingClassifier,0.62,0.63,0.63,0.59,0.22
CalibratedClassifierCV,0.62,0.62,0.62,0.59,0.07
LinearSVC,0.62,0.62,0.62,0.59,0.02
PassiveAggressiveClassifier,0.61,0.61,0.61,0.60,0.01
QuadraticDiscriminantAnalysis,0.60,0.60,0.60,0.54,0.01
NuSVC,0.58,0.58,0.58,0.54,1.01
RidgeClassifier,0.56,0.57,0.57,0.53,0.01
RidgeClassifierCV,0.56,0.57,0.57,0.53,0.02
LinearDiscriminantAnalysis,0.56,0.57,0.57,0.53,0.02
DummyClassifier,0.51,0.50,0.50,0.34,0.01

In [29]:
df_train_encoded.select_dtypes('float')

       Age  RoomService  FoodCourt  ShoppingMall    Spa  VRDeck   Spent
182  51.00         0.00       0.00          0.00   0.00    0.00    0.00
6042 36.00         0.00       0.00          0.00   0.00    0.00    0.00
6417 37.00         0.00    7920.00        270.00   1.00  322.00 8513.00
7228 27.00         0.00       0.00          0.00   0.00    0.00    0.00
5229 36.00         0.00       0.00          0.00   0.00    0.00    0.00
...    ...          ...        ...           ...    ...     ...     ...
451  28.00         0.00      14.00          0.00   0.00  615.00  629.00
1026 35.00         0.00       0.00          0.00   0.00    0.00    0.00
5080 24.00         1.00       0.00         11.00   0.00  734.00  746.00
6756 44.00         0.00    4322.00          3.00 153.00   52.00 4530.00
5061 16.00         3.00     595.00          0.00   9.00  321.00  928.00

[6954 rows x 7 columns]

In [30]:
from sklearn.preprocessing import StandardScaler

std_scaler = StandardScaler()

In [35]:
train_num_data = df_train_encoded.select_dtypes('float')
scaled_train_num_data = std_scaler.fit_transform(train_num_data)

In [37]:
df_train_encoded.loc[:, train_num_data.columns] = scaled_train_num_data
df_train_encoded

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,PassengerPP,cabin_num,Spent,...,cabin_deck_B,cabin_deck_C,cabin_deck_D,cabin_deck_E,cabin_deck_F,cabin_deck_G,cabin_deck_T,cabin_deck_U,cabin_side_S,cabin_side_U
182,1.55,-0.33,-0.28,-0.28,-0.27,-0.26,True,1,8,-0.51,...,0,1,0,0,0,0,0,0,1,0
6042,0.51,-0.33,-0.28,-0.28,-0.27,-0.26,True,3,1037,-0.51,...,0,0,0,0,0,1,0,0,1,0
6417,0.58,-0.33,4.67,0.17,-0.27,0.01,True,1,258,2.50,...,1,0,0,0,0,0,0,0,1,0
7228,-0.12,-0.33,-0.28,-0.28,-0.27,-0.26,True,1,254,-0.51,...,1,0,0,0,0,0,0,0,0,0
5229,0.51,-0.33,-0.28,-0.28,-0.27,-0.26,True,1,902,-0.51,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,-0.05,-0.33,-0.27,-0.28,-0.27,0.26,False,2,88,-0.29,...,0,0,0,0,1,0,0,0,1,0
1026,0.44,-0.33,-0.28,-0.28,-0.27,-0.26,True,1,223,-0.51,...,0,0,0,0,1,0,0,0,0,0
5080,-0.33,-0.33,-0.28,-0.26,-0.27,0.36,False,1,1037,-0.25,...,0,0,0,0,1,0,0,0,1,0
6756,1.07,-0.33,2.42,-0.28,-0.13,-0.22,True,2,238,1.09,...,1,0,0,0,0,0,0,0,0,0
5061,-0.89,-0.32,0.09,-0.28,-0.26,0.01,True,1,871,-0.19,...,0,0,0,0,0,1,0,0,0,0

In [38]:
test_num_data = df_test_encoded.select_dtypes('float')
scaled_test_num_data = std_scaler.transform(test_num_data)

In [39]:
df_test_encoded.loc[:, test_num_data.columns] = scaled_test_num_data
df_test_encoded

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,PassengerPP,cabin_num,Spent,...,cabin_deck_B,cabin_deck_C,cabin_deck_D,cabin_deck_E,cabin_deck_F,cabin_deck_G,cabin_deck_T,cabin_deck_U,cabin_side_S,cabin_side_U
5610,-1.87,-0.33,-0.28,-0.28,-0.27,-0.26,True,3,972,-0.51,...,0,0,0,0,0,1,0,0,1,0
6738,-0.75,-0.33,-0.28,-0.28,-0.27,-0.26,True,1,1357,-0.51,...,0,0,0,0,1,0,0,0,1,0
7916,-0.40,-0.28,-0.28,-0.28,0.03,-0.03,False,1,1627,-0.29,...,0,0,0,0,1,0,0,0,1,0
2481,-0.54,-0.33,-0.28,-0.28,-0.27,-0.26,True,2,423,-0.51,...,0,0,0,0,0,1,0,0,1,0
4442,-0.33,-0.10,-0.28,0.12,-0.08,0.12,False,2,888,-0.14,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7094,-0.75,0.25,-0.17,-0.28,-0.21,-0.14,False,1,1445,-0.24,...,0,0,0,0,1,0,0,0,1,0
2500,-0.19,1.00,-0.28,-0.28,-0.27,-0.24,False,1,435,-0.19,...,0,0,0,0,0,1,0,0,0,0
3752,-1.03,0.36,-0.28,-0.28,0.01,-0.11,False,1,243,-0.18,...,0,0,0,1,0,0,0,0,0,0
8130,-0.75,-0.33,-0.28,-0.28,-0.07,0.15,False,1,1788,-0.26,...,0,0,0,0,1,0,0,0,0,0
2816,0.79,-0.33,-0.28,-0.28,-0.27,-0.26,False,1,-1,-0.51,...,0,0,0,0,0,0,0,1,0,1

In [40]:
X_train = df_train_encoded.drop('Transported', axis=1)
y_train = df_train_encoded.loc[:, 'Transported']

X_test = df_test_encoded.drop('Transported', axis=1)
y_test = df_test_encoded.loc[:, 'Transported']

In [41]:
from lazypredict.Supervised import LazyClassifier

clf = LazyClassifier(verbose=0, ignore_warnings=True, custom_metric=None)
models, predictions = clf.fit(X_train, X_test, y_train, y_test)

models

  0%|          | 0/31 [00:00<?, ?it/s]

[LightGBM] [Info] Number of positive: 3495, number of negative: 3459
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000350 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1938
[LightGBM] [Info] Number of data points in the train set: 6954, number of used features: 31
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.502588 -> initscore=0.010354
[LightGBM] [Info] Start training from score 0.010354

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,Time Taken
Model,,,,,
GaussianNB,0.74,0.74,0.74,0.74,0.01
KNeighborsClassifier,0.70,0.70,0.70,0.69,0.05
LabelPropagation,0.69,0.70,0.70,0.68,1.46
LabelSpreading,0.69,0.70,0.70,0.68,1.99
NearestCentroid,0.65,0.65,0.65,0.64,0.01
RandomForestClassifier,0.65,0.65,0.65,0.63,0.45
DecisionTreeClassifier,0.65,0.65,0.65,0.63,0.04
BernoulliNB,0.64,0.65,0.65,0.63,0.02
Perceptron,0.64,0.64,0.64,0.62,0.01
SGDClassifier,0.64,0.64,0.64,0.62,0.03
XGBClassifier,0.64,0.64,0.64,0.61,0.07
ExtraTreeClassifier,0.64,0.64,0.64,0.62,0.02
AdaBoostClassifier,0.64,0.64,0.64,0.61,0.25
LogisticRegression,0.64,0.64,0.64,0.61,0.02
ExtraTreesClassifier,0.63,0.64,0.64,0.61,0.34
SVC,0.63,0.63,0.63,0.61,0.36
LGBMClassifier,0.63,0.63,0.63,0.60,0.08
BaggingClassifier,0.62,0.63,0.63,0.59,0.22
CalibratedClassifierCV,0.62,0.62,0.62,0.59,0.08
LinearSVC,0.62,0.62,0.62,0.59,0.03
PassiveAggressiveClassifier,0.61,0.61,0.61,0.60,0.01
QuadraticDiscriminantAnalysis,0.62,0.61,0.61,0.55,0.02
NuSVC,0.58,0.58,0.58,0.54,1.03
RidgeClassifier,0.56,0.57,0.57,0.53,0.02
RidgeClassifierCV,0.56,0.57,0.57,0.53,0.02
LinearDiscriminantAnalysis,0.56,0.57,0.57,0.53,0.02
DummyClassifier,0.51,0.50,0.50,0.34,0.01

In [46]:
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score  # Or any other metric

# Assume you have these already:
# X_train, y_train, X_test, y_test

# Define the range of var_smoothing values to test (log scale is common)
var_smoothing_values = np.logspace(-12, -2, num=50)
data = {}

for smoothing in var_smoothing_values:
    model = GaussianNB(var_smoothing=smoothing)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    score = accuracy_score(y_test, y_pred)

    data[smoothing] = score

In [47]:
data

{1e-12: 0.6612995974698103,
 1.5998587196060573e-12: 0.6538240368027602,
 2.559547922699533e-12: 0.6486486486486487,
 4.094915062380419e-12: 0.6469235192639448,
 6.551285568595496e-12: 0.6434732604945371,
 1.0481131341546874e-11: 0.6388729154686601,
 1.67683293681101e-11: 0.6382978723404256,
 2.6826957952797272e-11: 0.6365727429557216,
 4.2919342601287785e-11: 0.6365727429557216,
 6.866488450042999e-11: 0.6336975273145485,
 1.0985411419875573e-10: 0.633122484186314,
 1.7575106248547966e-10: 0.6313973548016101,
 2.8117686979742364e-10: 0.6285221391604371,
 4.498432668969453e-10: 0.6285221391604371,
 7.196856730011529e-10: 0.6250718803910293,
 1.151395399326448e-09: 0.6233467510063255,
 1.8420699693267164e-09: 0.6244968372627947,
 2.94705170255181e-09: 0.6250718803910293,
 4.71486636345739e-09: 0.625646923519264,
 7.543120063354607e-09: 0.6262219666474985,
 1.206792640639329e-08: 0.6273720529039678,
 1.9306977288832496e-08: 0.6296722254169063,
 3.088843596477485e-08: 0.633122484186314,
 4.9417133613238385e-08: 0.6371477860839563,
 7.906043210907701e-08: 0.652673950546291,
 1.2648552168552957e-07: 0.6756756756756757,
 2.0235896477251556e-07: 0.6975273145485912,
 3.2374575428176464e-07: 0.723404255319149,
 5.179474679231213e-07: 0.7349051178838413,
 8.286427728546842e-07: 0.738355376653249,
 1.3257113655901108e-06: 0.730879815986199,
 2.1209508879201924e-06: 0.7107533064979874,
 3.3932217718953298e-06: 0.6871765382403681,
 5.428675439323859e-06: 0.6578493387004025,
 8.68511373751352e-06: 0.6411730879815987,
 1.3894954943731388e-05: 0.6302472685451409,
 2.2229964825261955e-05: 0.6175963197239793,
 3.5564803062231284e-05: 0.6170212765957447,
 5.689866029018305e-05: 0.6072455434157562,
 9.102981779915228e-05: 0.5807935595169638,
 0.00014563484775012445: 0.5560667050028753,
 0.00023299518105153718: 0.5468660149511213,
 0.0003727593720314938: 0.5359401955146637,
 0.0005963623316594637: 0.5301897642323175,
 0.0009540954763499963: 0.5255894192064405,
 0.0015264179671752366: 0.523289246693502,
 0.002442053094548655: 0.5221391604370328,
 0.003906939937054621: 0.5198389879240943,
 0.006250551925273976: 0.5192639447958597,
 0.01: 0.5192639447958597}

best var_smoothing=8e-7

In [59]:
name_imputer = SimpleImputer(strategy='constant', fill_value='Unknown Unknown')
num_imputer = SimpleImputer(strategy='median')
cat_imputer = SimpleImputer(strategy='constant', fill_value='Unknown')

In [62]:
num_cols = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
cat_cols = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']

df.loc[:, 'Name'] = name_imputer.fit_transform(df.loc[:, 'Name'].to_frame())
df.loc[:, num_cols] = num_imputer.fit_transform(df.loc[:, num_cols])
df.loc[:, cat_cols] = cat_imputer.fit_transform(df.loc[:, cat_cols])

In [64]:
df_updated = update_df(df)
df_updated

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,FirstName,LastName,PassengerGGGG,PassengerPP,cabin_deck,cabin_num,cabin_side,Spent
0,Europa,False,TRAPPIST-1e,39.00,False,0.00,0.00,0.00,0.00,0.00,False,Maham,Ofracculy,1,1,B,0,P,0.00
1,Earth,False,TRAPPIST-1e,24.00,False,109.00,9.00,25.00,549.00,44.00,True,Juanna,Vines,2,1,F,0,S,736.00
2,Europa,False,TRAPPIST-1e,58.00,True,43.00,3576.00,0.00,6715.00,49.00,False,Altark,Susent,3,1,A,0,S,10383.00
3,Europa,False,TRAPPIST-1e,33.00,False,0.00,1283.00,371.00,3329.00,193.00,False,Solam,Susent,3,2,A,0,S,5176.00
4,Earth,False,TRAPPIST-1e,16.00,False,303.00,70.00,151.00,565.00,2.00,True,Willy,Santantines,4,1,F,1,S,1091.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,55 Cancri e,41.00,True,0.00,6819.00,0.00,1643.00,74.00,False,Gravior,Noxnuther,9276,1,A,98,P,8536.00
8689,Earth,True,PSO J318.5-22,18.00,False,0.00,0.00,0.00,0.00,0.00,False,Kurta,Mondalley,9278,1,G,1499,S,0.00
8690,Earth,False,TRAPPIST-1e,26.00,False,0.00,0.00,1872.00,1.00,0.00,True,Fayey,Connon,9279,1,G,1500,S,1873.00
8691,Europa,False,55 Cancri e,32.00,False,0.00,1049.00,0.00,353.00,3235.00,False,Celeon,Hontichre,9280,1,E,608,S,4637.00
8692,Europa,False,TRAPPIST-1e,44.00,False,126.00,4688.00,0.00,0.00,12.00,True,Propsh,Hontichre,9280,2,E,608,S,4826.00

In [65]:
lastnames_have_impact_mask = df_updated.groupby('LastName')['Transported'].mean() >= 0.5
lastnames_have_impact_mask = lastnames_have_impact_mask[lastnames_have_impact_mask].index.tolist()

firstnames_have_impact_mask = df_updated.groupby('FirstName')['Transported'].mean() >= 0.5
firstnames_have_impact_mask = firstnames_have_impact_mask[firstnames_have_impact_mask].index.tolist()

passenger_gggg_have_impact_mask = df_updated.groupby('PassengerGGGG')['Transported'].mean() >= 0.5
passenger_gggg_have_impact_mask = passenger_gggg_have_impact_mask[passenger_gggg_have_impact_mask].index.tolist()



df_updated.loc[:, 'FirstNameHaveImpact'] = df_updated.loc[:, 'FirstName'].apply(lambda x: 1 if x in firstnames_have_impact_mask else 0)
df_updated.loc[:, 'LastNameHaveImpact'] = df_updated.loc[:, 'LastName'].apply(lambda x: 1 if x in lastnames_have_impact_mask else 0)
df_updated.loc[:, 'PassengerGGGGHaveImpact'] = df_updated.loc[:, 'PassengerGGGG'].apply(lambda x: 1 if x in passenger_gggg_have_impact_mask else 0)

df_updated.drop(['FirstName', 'LastName', 'PassengerGGGG'], inplace=True, axis=1)

In [66]:
cat_data = df_updated.select_dtypes('object')
cat_data.loc[:, ['CryoSleep', 'VIP']] = df_updated.loc[:, ['CryoSleep', 'VIP']].astype('str')
cat_data

     HomePlanet CryoSleep    Destination    VIP cabin_deck cabin_side
0        Europa     False    TRAPPIST-1e  False          B          P
1         Earth     False    TRAPPIST-1e  False          F          S
2        Europa     False    TRAPPIST-1e   True          A          S
3        Europa     False    TRAPPIST-1e  False          A          S
4         Earth     False    TRAPPIST-1e  False          F          S
...         ...       ...            ...    ...        ...        ...
8688     Europa     False    55 Cancri e   True          A          P
8689      Earth      True  PSO J318.5-22  False          G          S
8690      Earth     False    TRAPPIST-1e  False          G          S
8691     Europa     False    55 Cancri e  False          E          S
8692     Europa     False    TRAPPIST-1e  False          E          S

[8693 rows x 6 columns]

In [68]:
one_hot_encoder = OneHotEncoder(drop='first', dtype=int)

cat_data_encoded = one_hot_encoder.fit_transform(cat_data)
cat_encoded_feature_names = one_hot_encoder.get_feature_names_out(cat_data.columns)

df_cat_encoded = pd.DataFrame(cat_data_encoded.toarray(), columns = cat_encoded_feature_names, index=cat_data.index)
df_cat_encoded

,HomePlanet_Europa,HomePlanet_Mars,HomePlanet_Unknown,CryoSleep_True,CryoSleep_Unknown,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Destination_Unknown,VIP_True,VIP_Unknown,cabin_deck_B,cabin_deck_C,cabin_deck_D,cabin_deck_E,cabin_deck_F,cabin_deck_G,cabin_deck_T,cabin_deck_U,cabin_side_S,cabin_side_U
0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
2,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0
3,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
8689,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
8690,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0
8691,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
8692,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0

In [69]:
df_non_cat = df_updated.drop(cat_data.columns, axis=1)
df_encoded = pd.concat([df_non_cat, df_cat_encoded], axis=1)
df_encoded

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,PassengerPP,cabin_num,Spent,...,cabin_deck_B,cabin_deck_C,cabin_deck_D,cabin_deck_E,cabin_deck_F,cabin_deck_G,cabin_deck_T,cabin_deck_U,cabin_side_S,cabin_side_U
0,39.00,0.00,0.00,0.00,0.00,0.00,False,1,0,0.00,...,1,0,0,0,0,0,0,0,0,0
1,24.00,109.00,9.00,25.00,549.00,44.00,True,1,0,736.00,...,0,0,0,0,1,0,0,0,1,0
2,58.00,43.00,3576.00,0.00,6715.00,49.00,False,1,0,10383.00,...,0,0,0,0,0,0,0,0,1,0
3,33.00,0.00,1283.00,371.00,3329.00,193.00,False,2,0,5176.00,...,0,0,0,0,0,0,0,0,1,0
4,16.00,303.00,70.00,151.00,565.00,2.00,True,1,1,1091.00,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,41.00,0.00,6819.00,0.00,1643.00,74.00,False,1,98,8536.00,...,0,0,0,0,0,0,0,0,0,0
8689,18.00,0.00,0.00,0.00,0.00,0.00,False,1,1499,0.00,...,0,0,0,0,0,1,0,0,1,0
8690,26.00,0.00,0.00,1872.00,1.00,0.00,True,1,1500,1873.00,...,0,0,0,0,0,1,0,0,1,0
8691,32.00,0.00,1049.00,0.00,353.00,3235.00,False,1,608,4637.00,...,0,0,0,1,0,0,0,0,1,0
8692,44.00,126.00,4688.00,0.00,0.00,12.00,True,2,608,4826.00,...,0,0,0,1,0,0,0,0,1,0

In [70]:
X = df_encoded.drop('Transported', axis=1)
y = df_encoded.loc[:, 'Transported']

In [71]:
from sklearn.naive_bayes import GaussianNB

best_model = GaussianNB(var_smoothing=8e-7)
best_model.fit(X, y)

GaussianNB(var_smoothing=8e-07)

In [73]:
valid_df = pd.read_csv('dataset/test.csv')

In [74]:
num_cols = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
cat_cols = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']

valid_df.loc[:, 'Name'] = name_imputer.transform(valid_df.loc[:, 'Name'].to_frame())
valid_df.loc[:, num_cols] = num_imputer.transform(valid_df.loc[:, num_cols])
valid_df.loc[:, cat_cols] = cat_imputer.transform(valid_df.loc[:, cat_cols])

In [75]:
valid_df_updated = update_df(valid_df)
valid_df_updated

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,FirstName,LastName,PassengerGGGG,PassengerPP,cabin_deck,cabin_num,cabin_side,Spent
0,Earth,True,TRAPPIST-1e,27.00,False,0.00,0.00,0.00,0.00,0.00,Nelly,Carsoning,13,1,G,3,S,0.00
1,Earth,False,TRAPPIST-1e,19.00,False,0.00,9.00,0.00,2823.00,0.00,Lerome,Peckers,18,1,F,4,S,2832.00
2,Europa,True,55 Cancri e,31.00,False,0.00,0.00,0.00,0.00,0.00,Sabih,Unhearfus,19,1,C,0,S,0.00
3,Europa,False,TRAPPIST-1e,38.00,False,0.00,6652.00,0.00,181.00,585.00,Meratz,Caltilter,21,1,C,1,S,7418.00
4,Earth,False,TRAPPIST-1e,20.00,False,10.00,0.00,635.00,0.00,0.00,Brence,Harperez,23,1,F,5,S,645.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,Earth,True,TRAPPIST-1e,34.00,False,0.00,0.00,0.00,0.00,0.00,Jeron,Peter,9266,2,G,1496,S,0.00
4273,Earth,False,TRAPPIST-1e,42.00,False,0.00,847.00,17.00,10.00,144.00,Matty,Scheron,9269,1,U,-1,U,1018.00
4274,Mars,True,55 Cancri e,27.00,False,0.00,0.00,0.00,0.00,0.00,Jayrin,Pore,9271,1,D,296,P,0.00
4275,Europa,False,Unknown,27.00,False,0.00,2680.00,0.00,0.00,523.00,Kitakan,Conale,9273,1,D,297,P,3203.00
4276,Earth,True,PSO J318.5-22,43.00,False,0.00,0.00,0.00,0.00,0.00,Lilace,Leonzaley,9277,1,G,1498,S,0.00

In [76]:
valid_df_updated.loc[:, 'FirstNameHaveImpact'] = valid_df_updated.loc[:, 'FirstName'].apply(lambda x: 1 if x in firstnames_have_impact_mask else 0)
valid_df_updated.loc[:, 'LastNameHaveImpact'] = valid_df_updated.loc[:, 'LastName'].apply(lambda x: 1 if x in lastnames_have_impact_mask else 0)
valid_df_updated.loc[:, 'PassengerGGGGHaveImpact'] = valid_df_updated.loc[:, 'PassengerGGGG'].apply(lambda x: 1 if x in passenger_gggg_have_impact_mask else 0)

valid_df_updated.drop(['FirstName', 'LastName', 'PassengerGGGG'], inplace=True, axis=1)

In [82]:
valid_cat_data = valid_df_updated.select_dtypes('object')
valid_cat_data.loc[:, ['CryoSleep', 'VIP']] = valid_cat_data.loc[:, ['CryoSleep', 'VIP']].astype('str')
valid_cat_data

     HomePlanet CryoSleep    Destination    VIP cabin_deck cabin_side
0         Earth      True    TRAPPIST-1e  False          G          S
1         Earth     False    TRAPPIST-1e  False          F          S
2        Europa      True    55 Cancri e  False          C          S
3        Europa     False    TRAPPIST-1e  False          C          S
4         Earth     False    TRAPPIST-1e  False          F          S
...         ...       ...            ...    ...        ...        ...
4272      Earth      True    TRAPPIST-1e  False          G          S
4273      Earth     False    TRAPPIST-1e  False          U          U
4274       Mars      True    55 Cancri e  False          D          P
4275     Europa     False        Unknown  False          D          P
4276      Earth      True  PSO J318.5-22  False          G          S

[4277 rows x 6 columns]

In [83]:
valid_cat_data_encoded = one_hot_encoder.transform(valid_cat_data)
valid_cat_encoded_feature_names = one_hot_encoder.get_feature_names_out(valid_cat_data.columns)

df_valid_cat_encoded = pd.DataFrame(valid_cat_data_encoded.toarray(), columns = valid_cat_encoded_feature_names, index=valid_cat_data.index)
df_valid_cat_encoded

,HomePlanet_Europa,HomePlanet_Mars,HomePlanet_Unknown,CryoSleep_True,CryoSleep_Unknown,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Destination_Unknown,VIP_True,VIP_Unknown,cabin_deck_B,cabin_deck_C,cabin_deck_D,cabin_deck_E,cabin_deck_F,cabin_deck_G,cabin_deck_T,cabin_deck_U,cabin_side_S,cabin_side_U
0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
2,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
3,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0
4273,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1
4274,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4275,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0
4276,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0

In [88]:
df_valid_non_cat = valid_df_updated.drop(valid_cat_data.columns, axis=1)
df_valid_encoded = pd.concat([df_valid_non_cat, df_valid_cat_encoded], axis=1)
df_valid_encoded

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,PassengerPP,cabin_num,Spent,FirstNameHaveImpact,...,cabin_deck_B,cabin_deck_C,cabin_deck_D,cabin_deck_E,cabin_deck_F,cabin_deck_G,cabin_deck_T,cabin_deck_U,cabin_side_S,cabin_side_U
0,27.00,0.00,0.00,0.00,0.00,0.00,1,3,0.00,0,...,0,0,0,0,0,1,0,0,1,0
1,19.00,0.00,9.00,0.00,2823.00,0.00,1,4,2832.00,0,...,0,0,0,0,1,0,0,0,1,0
2,31.00,0.00,0.00,0.00,0.00,0.00,1,0,0.00,0,...,0,1,0,0,0,0,0,0,1,0
3,38.00,0.00,6652.00,0.00,181.00,585.00,1,1,7418.00,1,...,0,1,0,0,0,0,0,0,1,0
4,20.00,10.00,0.00,635.00,0.00,0.00,1,5,645.00,1,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,34.00,0.00,0.00,0.00,0.00,0.00,2,1496,0.00,1,...,0,0,0,0,0,1,0,0,1,0
4273,42.00,0.00,847.00,17.00,10.00,144.00,1,-1,1018.00,0,...,0,0,0,0,0,0,0,1,0,1
4274,27.00,0.00,0.00,0.00,0.00,0.00,1,296,0.00,1,...,0,0,1,0,0,0,0,0,0,0
4275,27.00,0.00,2680.00,0.00,0.00,523.00,1,297,3203.00,0,...,0,0,1,0,0,0,0,0,0,0
4276,43.00,0.00,0.00,0.00,0.00,0.00,1,1498,0.00,0,...,0,0,0,0,0,1,0,0,1,0

In [89]:
y_pred = best_model.predict(df_valid_encoded)
y_pred

array([ True, False,  True, ...,  True,  True,  True])

In [90]:
test_df = pd.read_csv('dataset/test.csv')


submission = pd.DataFrame({
    'PassengerId': test_df['PassengerId'],
    'Transported' : y_pred.astype(bool)
})
submission

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01         True
...          ...          ...
4272     9266_02         True
4273     9269_01         True
4274     9271_01         True
4275     9273_01         True
4276     9277_01         True

[4277 rows x 2 columns]

In [91]:
submission.to_csv('gaussiannb.csv', index=False)